.container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 95vw;
}

.container_imagen {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  height: auto;
  width: auto;
  margin: 75px 15px 0 15px;
}

.portada {
  height: auto;
  width: 250px;
  box-shadow: 3px 3px 2px #E9EB9E;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_iconos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
}

.container_bookmark, .container_libro, .container_journal {
  margin: 0 20px;
  text-align: center;
}

.container_bookmark i {
  font-size: 25px;
  color: crimson;
}

.container_libro i {
  font-size: 25px;
  color: forestgreen;
} 

.container_journal i {
  font-size: 25px;
  color: dodgerblue;
}

.container_bookmark p {
  font-size: 12px;
  text-align: center;
}

.container_libro p {
  font-size: 12px;
  text-align: center;
} 

.container_journal p {
  font-size: 12px;
  text-align: center;
}

.container_descipcion {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin: 15px;
}

.container_estrellas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cant_estrellas {
  margin: 12px;
}

.autor, .generos {
  display: flex;
  list-style: none;
  background-color: #616E79;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 12px;
  color: #E9EB9E;
}

.container_sinopsis {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.container_generos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.generos {
  flex-direction: row;
}

.generos li {
  font-size: 12px;
}

.boton_return {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.return {
  width: 75%;
}