:root {
  --color-principal: #14080E;
  --color-border: #49475B;
  --color-texto: #E9EB9E;
  --color-enlace:  #ACC196;
  --color-input: #799496;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98.5vw;
  margin: 25px 0;
  flex-direction: column;
}

.espacio {
  height: 500px;
}

.input_search {
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  border-radius: 15px;
  border-color: #14080E;
  margin: 15px;
}

.buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 75%;  
}

.input_search:focus {
  background-color: var(--color-input);
  color: var(--color-texto);
  text-transform: uppercase;
}

.icon_search {
  color: var(--color-principal);
  position: absolute;
  width: 20px;
  height: 20px;
  left: 85%;
  top: 17%;
}

/* .sin_busqueda {
  color: var(--color-principal);
} */

.input_pagina {
  width: 30px;
  margin-right: 12px;
  text-align: center;
  background-color: var(--color-input);
  border-radius: 7px;
  color: var(--color-texto);
}

.container_botones {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton_anterior, .boton_siguiente {
  margin: 12px;
}

@media (max-width: 768px) {

  .icon_search {
    top: 18.5%;
    left: 78%;
  }
}