:root {
  --color-principal: #14080E;
  --color-border: #49475B;
  --color-texto: #E9EB9E;
  --color-enlace:  #ACC196;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titulo {
  margin-top: 12px;
}

.container_registros {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 5px 20px; */
  width: 100%;
  background-color: var(--color-principal);
}

.registros {
  height: auto;
  margin: 20px 50px 0 50px;
}

.registros_boton {
  padding: 10px;
  color: var(--color-texto);
  margin-bottom: 12px;
}

.registros_boton:hover {
  background-color: var(--color-border);
  color: var(--color-enlace);
}

.registros button {
  margin-right: 12px;
}

.boton_cerrar {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: flex-end;
  margin-right: 5rem;
}

.tabla {
  margin: 50px 0px 100px 50px;
}

.titulo_tablero {
  text-transform: uppercase;
  font-size: xx-large;
}

.contenedor_titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-bottom: 3rem;
}