.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --color-principal: #14080E;
  --color-border: #49475B;
  --color-texto: #E9EB9E;
  --color-enlace:  #ACC196;
}

.photouser {
  width: 100px;
  height: 100px;
  margin: 15px 0;
  border-radius: 100%;
}

.image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pencil_image {
  display: flex;
  position: absolute;
  top: 150px;
  left: 490px;
  color: var(--color-texto);
  font-size: 20px;
}

.email_container, .usuario_container {
  margin-top: 15px;
}

.input_image {
  display: none;
}

.label_image {
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-texto);
  background: var(--color-border);
  text-align: center;
  padding: 15px 40px;
  letter-spacing: 1.5px;
  user-select: none;
  cursor: pointer;
  /* box-shadow: 5px 5px 25px var(--color-texto); */
  border-radius: 3px;
}

.label_image i {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bolder;
  color: var(--color-texto);
}

.label_image:active {
  transform: scale(0.9);
}

.input_username {
  border: none;
  border-bottom: 2px solid var(--color-border);
}

.input_username:focus {
  background-color: var(--color-border);
  color: var(--color-texto);
}

.contenedor_btn_file {
  display: inline-block;
  /* position: relative; */
  border: 0;
  overflow: hidden;
}

.contenedor_btn_file input {
  display: block;
  position: absolute;
  z-index: 1;
  top: 150px;
}

.boton {
  margin-top: 12px;
  width: 100%;
}

.sin_perfil {
  text-align: center;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor img {
  width: 30rem;
  height: 30rem;
}

.contenedor p {
  font-size: 10px;
}

@media (max-width: 768px) {
  .pencil_image {
    top: 150px;
    left: 180px;
  }
}