.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photouser {
  width: 100px;
  height: 100px;
}

.image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pencil_image {
  display: flex;
  position: absolute;
  top: 150px;
  color: white;
}