:root {
  --color-fondo: #14080E;
  --color-texto:  #E9EB9E;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  z-index: 0;
}

.login {
  border: 2px solid var(--color-texto);
  background-color: var(--color-fondo);
  height: auto;
  width: 550px;
  color: var(--color-texto);
  padding: 15px;
  border-radius: 12px;
  margin-top: 25px;
}

.titulo {
  text-align: center;
  margin: 15px 0;
  text-transform: uppercase;
}

.loguearse {
  /* width: 15rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 12px;
}

.loguearse input {
  border: none;
}

.loguearse span {
  background-color: #799496;
  color: #14080E;
  border: none;
}

.loguearse input:focus {
  background-color: #799496;
  color: var(--color-texto);
  border: none;
}

.loguearse input::placeholder {
  color: #49475b;
}

.btn_login {
  margin-top: 12px;
  width: 31rem;
  display: inline-block;
}

.log_options {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  margin: 30px 4rem;
  width: 12rem;
}

.log_account {
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  width: 400px;
}

.log_account p {
  display: inline;
}

.log_account span {
  margin-left: 5px;
}

.log_account a span {
  color: #ACC196;
  list-style: none;
}

.log_create a {
  text-decoration: none;
}

.log_create p {
  color: #ACC196;
}

@media (max-width: 920px) {
  .login {
    width: 250px;
    height: auto;
  }

  .btn_login {
    width: 13rem;
  }

  /* .loguearse {
    margin: 5px;
  } */
  
  .log_options {
    margin: 5px 1rem;
    width: 12rem;
  }

  .log_account {
    width: 200px;
    margin-top: 0px;
  }
}