:root {
  --color-fondo: #14080E;
  --color-texto:  #E9EB9E;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  z-index: 0;
}

.login {
  border: 2px solid var(--color-texto);
  background-color: var(--color-fondo);
  height: auto;
  width: 550px;
  color: var(--color-texto);
  padding: 15px;
  border-radius: 12px;
  margin-top: 25px;
}

.titulo {
  text-align: center;
  margin-top: 12px;
  text-transform: uppercase;
}

.redes {
  margin-top: 20px;
}

.boton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton button {
  margin: 7px;
  width: 100%;
}

.btn_imagen {
  width: 30px;
  height: 30px;
  margin-left: 12px;
}

.btn_google {
  padding: 0;
  text-align: center;
  width: 100%;
}

.btn_facebook {
  padding: 0;
  text-align: center;
}

.separador {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.loguearse {
  /* width: 15rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12px;
}

.loguearse input {
  border: none;
}

.loguearse span {
  background-color: #799496;
  color: #14080E;
  border: none;
}

.loguearse input:focus {
  background-color: #799496;
  color: var(--color-texto);
  border: none;
}

.loguearse input::placeholder {
  color: #49475b;
}

.btn_login {
  width: 100%;
}

.log_options {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  margin: 30px 30%;
}

.log_options a p {
  color: #49475b;
  list-style: none;
}

.log_account {
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.log_create span {
  color: #49475b;
  list-style: none;
}

.log_reset {
  display: inline;
  text-align: center;
  margin-bottom: 7px;
  font-size: 15px;
  margin-top: 10px;
}

.log_reset p {
  display: inline;
}

.log_account p {
  display: inline;
}

.log_account span {
  margin-left: 5px;
}

@media (max-width: 920px) {
  .login {
    width: 250px;
    height: auto;
  }

  .btn_login {
    width: 13rem;
  }

  .loguearse {
    margin: 5px;
  }

  .log_reset {
    margin-bottom: 0px;
  }
  
  .log_options {
    margin: 10px 1rem;
    width: 12rem;
  }
}