:root {
  --color-principal: #14080E;
  --color-border: #49475B;
  --color-texto: #E9EB9E;
  --color-enlace:  #ACC196;
}

.container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  width: 100vw;
  height: auto; 
  flex-wrap: nowrap;
  /* margin-left: 50px; */
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  width: 150px;
  height: auto;
  /* margin: 5px 0; */
  padding: 20px;
}

.texto {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  /* margin: 300px 0; */
  /* padding: 200px; */
}

.texto:hover {
  background-color: var(--color-texto);
}

.frase, .autor {
  color: var(--color-border);
  padding: 12px;
  text-align: center;
}

.frase {
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  text-transform: uppercase;
}

.frase::after {
  content: '>>';
}

.frase::before {
  content: '<<';
}

.autor {
  font-weight: 200;
  font-size: 12px;
}

@media (max-width: 768px) {
  .card {
    height: 85%;
  }
}